@font-face {
  font-family: 'Rumpelstiltskin';
  src: url('../fonts/Rumpelstiltskin.ttf');
}

#game,
#options,
#record {
  
}

#game.ui-body-c, 
#game.ui-overlay-c,
#options.ui-body-c,
#options.ui-overlay-c,
.ui-btn-up-a, 
.ui-btn-hover-a, 
.ui-btn-down-a {
 font-family: 'Rumpelstiltskin', Arial, sans-serif;
}

.ui-btn-up-a, 
.ui-btn-hover-a, 
.ui-btn-down-a {
  font-weight: 200;
}

#game.ui-body-c, 
#game.ui-overlay-c,
#options.ui-body-c,
#options.ui-overlay-c {
  text-shadow: 0pt 0px 0pt rgb(0, 0, 0);
}

#options .ui-controlgroup-label {
  margin-top: 2.3%;
}

.players,
.toolbar,
.switches,
table,
form {
  width: 280px;
  margin-left: 20px;
}

.players {
  color: #000000;
  font-size: 1.5em;
  padding-left: 0;
}

.players > div {
  padding-top: 2%;
  float: left;
  width: 50%;
  text-align: center;
}

#buttons {
  float: left;
}

.button_disabled {
  background: rgba(173, 173, 173, 0.7);
}

.player1 {
  color: rgba(0, 0, 0, 1);
}

.player2 {
  color: rgba(255, 0, 0, 1);
}

#game_menu,
#pause_game,
#end_game,
#options,
#record {
  background: url('../img/empty_base.png') 0 0 no-repeat;
}

#game_menu,
#pause_game,
#end_game {
  width: 280px;
  height: 300px;
  position: absolute;
  top: 20px;
  left: -10px;
  z-index: 20;
  -webkit-transform:rotate(20deg);
  transform:rotate(20deg);
  box-shadow: 3px 3px 2px #000;
}

#pause_game {
  z-index: 10;
  left: -325px;  
}

#end_game {
  top: 100px;
  z-index: 15;
  left: 370px;
  -webkit-transform:rotate(-20deg);
  transform:rotate(-20deg);
  display: none;
}

#game {
  background: url('../img/base_reversi.png') 0 0 no-repeat;
}

#board,
table {
  height: 280px;
}

#board {
  padding-top: 56px;
  margin-bottom: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

tr {
  height: 35px;
}

td {
  width: 35px;
  height: 35px;
}

td.p1 div,
td.p2 div {
  width: 33px;
  height: 33px;
  margin: 2px 0 0 1px;
}

td.allowed {
  background: url('../img/nera.png') 0 0 no-repeat;
  opacity: 0.2;
}

td.p2 div {
  background: url('../img/rossa.png') 0 0 no-repeat;
}

td.p1 div {
  background: url('../img/nera.png') 0 0 no-repeat;
}

/* clearfix */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  
  #game,
  #game_menu,
  #pause_game,
  #options,
  #record {
    -webkit-background-size: 320px 568px;
    background-size: 320px 568px;
  }
  
  #game {
    background: url('../img/base_reversi@2x.png') 0 0 no-repeat;
  }
  
  #game_menu,
  #pause_game,
  #options,
  #record {
    background: url('../img/empty_base@2x.png') 0 0 no-repeat;
  }
  
  td.p1 div,
  td.p2 div,
  td.allowed {
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
  
  td.allowed {
    background: url('../img/nera@2x.png') 0 0 no-repeat;
    opacity: 0.4;
  }
  
  td.p1 div {
    background: url('../img/nera@2x.png') 0 0 no-repeat;
  }
  
  td.p2 div {
    background: url('../img/rossa@2x.png') 0 0 no-repeat;
  }
}

